<h1>Assignment app</h1>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Flight Booking Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-4 mb-md-0">

        <li  class="nav-item" >
          <a class="nav-link "  routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  routerLink="admin/adminlogin">Admin Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link "  routerLink="user/availableFlights">Available Flights</a>
        </li>
        
        
        <li class="nav-item" *ngIf="loggedin()" >
          <a class="nav-link " routerLink="user/login">Login</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="!loggedin()">
          <a class="nav-link " style="cursor: pointer;" (click)="onLogout()">{{loggedinUser}} Logout</a>
        </li>

            </ul>
    </div>
  </div>
</nav>

