<br><br>
<h4 style="color:rgb(140, 219, 50)"><i>View Flight Details
</i></h4><br><hr><br>

  <label for="id"><strong>Flight Id:</strong></label>
   <p>{{data.id}}</p>

   <label for="sourceLoc"><strong> Source Location:</strong></label>
   <p>{{data.sourceLoc}}</p>

   <label for="destLoc"><strong> Destination Location :</strong></label>
   <p>{{data.destLoc}}</p>

   <label for="flightAmt"><strong> Flight Amount :</strong></label>
   <p>{{data.flightAmt}}</p>

   <label for="availableTickets"><strong> Available Tickets :</strong></label>
   <p>{{data.availableTickets}}</p>

   <label for="flightDate"><strong> Flight Date :</strong></label>
   <p>{{data.flightDate}}</p>

   <br>
   <a href="admin/flights">Back To Flights</a>

